body{
  background-color: #F7DCB4;
}

footer {
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d3c4be;
  text-align: center;
}

#palestine{
  display: none;
  position: absolute;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 100px;
}

#israel{
  display: block;
  position: absolute;
  padding-left: 200px;
  padding-top: 50px;
  padding-bottom: 100px;
}

#woman{
  position: relative;
  padding-top: 700px;
  padding-left: 200px;
  padding-bottom: 100px;
}

h1{
  color: #800000;
  font-family: futura;
  text-align: center;
}

h2{
  font-family: futura;
  color: #800000;
}

p{
  font-family: futura;
  padding-right: 10px;
  text-align: center;
}

.dropbtn{
  letter-spacing: 2px;
  color: white;
  padding: 1em;
  font-size: .75em;
  border: none;
  background-color: #800000;
}

.dropdown {
  /* float: left; */
  text-align: center;
  margin-left: 500px;
  display: inline-block;
  background-color: #800000;
  color: white;
}


.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  background-color: #800000;
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
}

.dropdown-content a{
  text-align: center;
  float: none;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
}

.dropdown:hover .dropdown-content{
  text-align: center;
  display: inline-block;
  padding-top: 20px;
  padding-right: 100px;
}

#myMsg{
  text-align: center;
}
