.container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding-top: 50px;
text-align: center;
}

.mySketch{
  height: 250px;
  width: 800px;
}

header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

a{
  color: #d3c4be;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

h1{
  color: #d3c4be;
  font-family: 'Montserrat', sans-serif;
  padding-left: 50px;
}

ul{
list-style-type: none;
}

h2{
  color: #d3c4be;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.footlink{
  padding-top: 20px;
  color: white;
}

.brainstorm{
  width: 60%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.conflictMain{
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.persona{
  position: relative;
  text-align: left;
}

.candc{
  text-align: left;
  margin-left: 100px;
}

footer {
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d3c4be;
  text-align: center;
}
